<div class="lefttop"><span></span>通讯录</div>

<dl class="leftmenu">

    <foreach name="menuTree" item="item">
    <dd>
        <div class="title">
            <span><img src="__IMG__/leftico01.png" /></span>{$item.title}
        </div>
        <ul class="menuson">
            <foreach name="item.childrens" item="subItem">
            <li><cite></cite><a href="{:U($subItem['url'])}" target="rightFrame" title="{$subItem.title}">{$subItem.title}</a><i></i></li>
            </foreach>
        </ul>
    </dd>
    </foreach>
</dl>
