html, body,
div, dl, dt, dd, ul, p, th, td,
h1, h2, h3, h4, h5, h6,
pre, code, form,
fieldset, legend {
    margin: 0;
    padding: 0;
}

cite,
em,
th {
    font-style: inherit;
    font-weight: inherit;
}

strong {
    font-weight: 700;
}

td,
th,
div {
    word-break: break-all;
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: left;
    font-weight: normal;
}

ol li {
    list-style: decimal outside;
}

ol {
    padding: 0 0 0 18px;
    margin: 0;
}

li {
    list-style: none;
}

img {
    border: 0;
}

html {
    -webkit-text-size-adjust: none;
}

/*
===================
html5相关标签
===================
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/*
===================
清除浮动
* cc 作用于父模型
* c 作用于浮动模型后，父模型区域里
===================
*/
.cc {
    zoom: 1;
}

.cc:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.c {
    clear: both;
    height: 0;
    font: 0/0 Arial;
    overflow: hidden;
    width: 0;
}


/*
===================
间距
===================
*/
.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}


/*
===================
基础样式
* b 加粗
* u 下划线
* i 斜体
* w 文本不换行
* tal 文本靠左显示
* tac 文本居中显示
* tar 文本靠右显示
* fl 左浮动
* fr 右浮动
* pr 相对定位
* cp 鼠标点击手势
* vt 表格内容靠上显示
===================
*/
.b {
    font-weight: 700 !important;
}

.u {
    text-decoration: underline !important;
}

.i {
    font-style: italic !important;
}

.w {
    white-space: nowrap;
}

.tal {
    text-align: left !important;
}

.tac {
    text-align: center !important;
}

.tar {
    text-align: right !important;
}

.fl {
    float: left !important;
    display: inline;
}

.fr {
    float: right !important;
    display: inline;
}

.pr {
    position: relative;
}

.cp {
    cursor: pointer;
}

.vt {
    vertical-align: top;
}

.dn {
    display: none;
}

/*
===================
字体
* f10 小字体
* f12 正常字
* f14 大字
* f16 更大
* f24 标题类
* fn 文本去粗
===================
*/
.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px !important;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f24 {
    font-size: 24px;
    font-family: Arial, "Microsoft Yahei", Simsun;
}

.fn {
    font-weight: normal !important;
}

/*
===================
系统文本颜色
===================
*/
.red {
    color: #ff0000 !important;
}

.green {
    color: #008800 !important;
}

.org {
    color: #ff6600 !important;
}

.gray {
    color: #999999 !important;
}

.blue {
    color: #266aae !important;
}

.s6 {
    color: #666;
}

/*
===================
灰色渐变背景
===================
*/
.user_group dt,
#error_tips h2,
.task_item_list .hd,
.medal_term .ct h6,
.app_info .hd,
.app_present .hd,
.app_updata .hd,
.sql_list dt {
    background: #f9f9f9;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#f4f4f4));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #f4f4f4);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #f4f4f4);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #f4f4f4);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #f4f4f4);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #f4f4f4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0);
    border-bottom: 1px solid #dfdfdf;
}

/*
===================
按钮【可在input、button、a使用，可自由组合】
>>	btn									默认按钮
>>	btn btn_big					大按钮
>>	btn btn_error				错误按钮
>>	btn btn_success			确认按钮
>>	btn btn_submit			提交按钮
===================
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn {
    color: #333;
    /*background: #e6e6e6 url(../images/content/btn.png);*/
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    padding: 4px 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 100%;
    line-height: normal;
    text-decoration: none;
    overflow: visible;
    vertical-align: middle;
    text-align: center;
    zoom: 1;
    white-space: nowrap;
    font-family: inherit;
    _position: relative;
    margin: 0;
}

a.btn {
    *padding: 5px 10px 2px !important;
}

input.btn,
button.btn {
    *padding: 4px 10px 1px !important;
}

.btn em {
    font-size: 10px;
    font-style: normal;
    padding-left: 2px;
    font-family: Arial;
    vertical-align: 1px;
}

.btn .add {
    width: 9px;
    height: 9px;
    background: url(../images/content/btn_add.png) center center no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 -3px;
    line-height: 9px;
}

/*悬停*/
.btn:hover {
    background-position: 0 -40px;
    color: #333;
    text-decoration: none;
}

/*点击后*/
.btn:active {
    background-position: 0 -81px;
}

/*大按钮*/
.btn_big {
    font-size: 1.2em;
    line-height: normal;
    padding: 7px 18px;
    border-radius: 2px;
}

input.btn_big,
button.btn_big {
    *padding: 6px 18px 3px !important;
}

/*其他按钮文字颜色*/
.btn_error,
.btn_error:hover,
.btn_success,
.btn_success:hover,
.btn_submit,
.btn_submit:hover {
    color: #ffffff !important;
}

/*提交按钮*/
.btn_submit {
    background-position: 0 -120px;
    background-color: rgb(63,150,201);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #106bab #106bab #0d68a9;
}

.btn_submit:hover {
    background-position: 0 -160px;
}

.btn_submit:active {
    background-position: 0 -201px;
}

/*确认按钮*/
.btn_success {
    background-color: #89bf00;
    background-position: 0 -240px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #6bad01 #6bad01 #63a100;
}

.btn_success:hover {
    background-position: 0 -280px;
}

.btn_success:active {
    background-position: 0 -321px;
}

/*错误按钮*/
.btn_error {
    background-color: #f29307;
    background-position: 0 -360px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #e77c0e #e77c0e #dd7204;
}

.btn_error:hover {
    background-position: 0 -400px;
}

.btn_error:active {
    background-position: 0 -441px;
}

/*重置按钮*/
.btn_reset {
    background-position: 0 -120px;
    background-color: rgb(240,245,247);
}

/*失效*/
input.disabled,
input.disabled:hover,
textarea.disabled,
textarea.disabled:hover,
select.disabled,
button.disabled,
button.disabled:hover {
    border-color: #ccc !important;
    background: #e9e9e9 !important;
    box-shadow: none !important;
    color: #999 !important;
    cursor: not-allowed;
    text-shadow: 1px 1px 0 #fff !important;
}

/*
===================
表单样式
===================
*/
.placeholder {
    color: #999;
}

.input,
textarea,
select {
    padding: 4px 4px;
    font-size: 100%;
    line-height: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 2px #f0f0f0 inset;
    /*border-radius: 1px;*/
    vertical-align: middle;
    margin: 0;
    font-family: inherit;
}

.input:focus, textarea:focus {
    outline: 2px solid #99d8f5;
    border-color: #7bbff2;
    background-color: #fffbde;
}

.input_hd, .textarea_hd {
    background: #fff url(../images/content/input_hd.png) 0 bottom repeat-x;
}

.input {
    height: 18px;
}

input.radio,
input[type="radio"],
input.checkbox,
input[type="checkbox"] {
    vertical-align: -3px;
    padding: 0;
    margin-right: 3px;
    *marign-rignt: 0;
}

textarea {
    height: 72px;
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

select,
input[type="file"] {
    height: 28px;
    line-height: 28px;
}

select[size] {
    height: auto;
}

.form_success {
    border-color: #3e973e #87c787 #87c787 !important;
    outline: 2px solid #87c787;
}

.form_error {
    border-color: #bc5050 #f2a6a6 #f2a6a6 !important;
    outline: 2px solid #f2a6a6;
}

/*
===================
输入框文本框长度
===================
*/
.length_0 {
    width: 20px;
}

.length_1 {
    width: 50px;
}

.length_2 {
    width: 110px;
}

.length_3 {
    width: 170px;
}

.length_4 {
    width: 230px;
}

.length_5 {
    width: 290px;
}

.length_6 {
    width: 350px;
}

/*
===================
选择select专属长度
===================
*/
.select_1 {
    width: 60px;
}

.select_2 {
    width: 120px;
}

.select_3 {
    width: 180px;
}

.select_4 {
    width: 240px;
}

.select_5 {
    width: 300px;
}

.select_6 {
    width: 360px;
}

/*
===================
必填
===================
*/
.must_red {
    font-family: Simsun;
    color: #ff0000;
    margin-top: 3px;
    margin-left: -13px;
    position: absolute;
    font-size: 14px;
}

.stat{
    float: left;
    height: 30px;
    line-height: 30px;
}

.stat li{
    float: left;
    min-width: 100px;
    margin-right: 20px;
}

.stat .title{
    font-weight: bold;
}

.stat .value{
    color: #24557d;
}



/*
===================
内容样式开始
===================
*/
body {
    font-family: '微软雅黑', 'Arial', serif;
    color: #333;
    font-size: 12px;
    background: #fff;
    line-height: 1.5;
    _width: 98%;
    overflow-x: hidden;
    overflow-y: auto;
}

body.body_none {
    background: #fff;
}

a {
    color: #266aae;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
===================
操作提示
===================
*/
.tips,
.tips_block span {
    line-height: 25px;
    text-align: center;
    padding: 0 10px;
}

.tips {
    border: 1px solid #f4d5ba;
    background: #ffffe9;
}

.tips_error,
.tips_success,
.tips_loading {
    color: #cc3333;
    padding-left: 18px;
    background: url(../images/tips_follow.png) -20px 2px no-repeat;
    display: inline-block;
    line-height: 18px;
}

.tips_loading {
    background: url(../images/loading.gif) 0 center no-repeat;
    color: #333333;
}

.tips_success {
    color: #008800;
    background-position: 0 -19px;
}

.tips_block .tips_error {
    background: #cc3333;
    color: #fff;
    display: block;
    padding: 0;
    margin: 0;
}

.tips_block .tips_success {
    background: #008800;
    color: #fff;
    display: block;
    padding: 0;
    margin: 0;
}

.tips_light {
    padding: 5px 10px 5px 28px;
    line-height: 25px;
    border: 1px solid #f4d5ba;
    /*background: #ffffe9 url(../images/tips/light_mini.png) 8px 10px no-repeat;*/
    margin-bottom: 10px;
}

/*气泡弹出提示*/
.tips_bubble {
    z-index: 1;
    position: absolute;
    margin-top: 45px;
    line-height: 1.5;
    color: #666;
    padding: 10px 10px;
    border: 1px solid #f4d1a5;
    background-color: #fffbe7;
    width: 180px;
    margin-left: 30px;
}

/*下箭头*/
.tips_bubble .core_arrow_bottom {
    position: absolute;
    bottom: 9px;
    right: 10px;
    padding: 0 20px;
}

.tips_bubble .core_arrow_bottom span,
.tips_bubble .core_arrow_bottom em {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 9px 0 0 2px;
    border-bottom: 8px transparent dashed;
    border-right: 8px transparent dashed;
    border-left: 8px transparent dashed;
    overflow: hidden;
}

.tips_bubble .core_arrow_bottom span {
    border-top: 8px #fffbe7 solid;
}

.tips_bubble .core_arrow_bottom em {
    border-top: 8px #f4d1a5 solid;
    margin-top: 10px;
}

/*
===================
全局弹窗
*pop_top 头
	**strong 标题
	**pop_close 关闭
*pop_cont 中
	**pop_table 表格
*pop_bottom 尾
*pop_tips 提示
*pop_loading 加载状态
===================
*/
.core_pop_wrap {
    background-color: #fff;
    box-shadow:1px 8px 10px 1px #9b9b9b;
    border-radius:1px;
    behavior:url(js/pie.htc);
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
    border-radius: 3px;
    position: fixed;
    _position: absolute; /*ie6*/
    z-index: 10;
    color: #333;
    outline: none;
}

.core_pop_wrap a {
    color: #336699;
}

.pop_top {
    line-height: 18px;
    padding: 9px 0 8px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e7e7e7;
    background: url(../images/tcbg.gif) repeat-x;
    zoom: 1;
    margin-bottom: 5px;
}

.pop_top:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    width: 1px;
}

.pop_top strong {
    text-indent: 15px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
    margin-right: 10px;
    float: left;
}

.pop_top select {
    float: left;
    padding: 1px;
    line-height: 22px;
    height: 22px;
}

.pop_top ul {
    border-bottom: 1px solid #ccc;
    height: 25px;
}

.pop_top li {
    float: left;
    display: block;
    line-height: 25px;
    height: 25px;
    padding: 0 15px;
    cursor: pointer;
}

.pop_top li.current {
    float: left;
    border: 1px solid #ccc;
    background: #fff;
    border-bottom: 0 none;
}

.pop_top .pop_close {
    margin-right: 15px;
    color: #fff;
}

.pop_bottom {
    padding: 10px 30px 10px 15px;
    border-top: 1px solid #e9e9e9;
    height: 30px;
    /*white-space:nowrap;*/
}

.pop_bottom label {
    display: inline-block;
    padding-top: 3px;
}

.pop_bottom .btn {
    padding-left: 20px;
    padding-right: 20px;
}

.pop_bottom .tips_error,
.pop_bottom .tips_success {
    max-width: 200px;
    float: left;
}

.founder_pop .pop_bottom .tips_error {
    width: 150px;
}

.pop_cont {
    background: #fff;
    color: #333;
    padding: 10px 15px 10px;
}

.pop_table {
    height: 365px;
    overflow-y: auto;
    position: relative;
}

.pop_table th,
.pop_table td {
    padding: 6px 0 6px;
}

.pop_table th {
    height: 26px;
    line-height: 26px;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    padding-right: 8px;
    font-weight: bold;
}

.pop_table tr:hover th {
    color: #000;
}

.pop_tips {
    background: #f7f7f7;
    line-height: 24px;
    padding: 0 10px;
    margin: 0 10px 0;
    color: #666;
}

/*关闭*/
.pop_close {
    display: block;
    float: right;
    width: 22px;
    height: 22px;
    background: url(../images/close.png) no-repeat;
    -webkit-transition: all 0.2s ease-out;
    margin-left: 10px;
}

.pop_close:hover {
    background: url(../images/close1.png) no-repeat;
}

/*读取中*/
.pop_loading {
    /*background: url(../images/content/loading.gif) center center no-repeat;*/
    height: 80px;
    width: 80px;
    margin: auto;
}

/*
===================
全局
===================
*/
.wrap {
    padding: 10px 20px 70px;
}

.wrap_pop {
    padding: 20px;
}

/*
===================
主选项卡
===================
*/
.nav {
    margin-bottom: 15px!important;
    border-bottom: 1px solid #ccc!important;
    height: 35px;
}

.nav .return {
    float: left;
}

.nav div.form_title{
    border-bottom:solid 1px #d0dee5;
    line-height:35px;
    position:relative;
    height:35px;
    margin-bottom:28px;
}

.nav div.form_title span{
    font-weight:bold;
    font-size:14px;
    border-bottom:solid 3px #66c9f3;
    float:left;
    position:absolute;
    z-index:100;
    bottom:-1px;
    padding:0 3px;
    height:30px;
    line-height:30px;
}

.tools{
    clear:both;
}
.toolbar li{
    display: inline-block;
    margin-right: 10px;
}
.toolbar li a{
    margin-bottom:15px;
}
/*
===================
标题栏组
===================
*/
.h_a {
    padding: 5px 9px;
    border: 1px solid #cbcbcb;
    color: #555;
    font-weight: 700;
    background:url(../images/th.gif) repeat-x;
    font-size: 12px;
}

/*
===================
搜索结构
===================
*/
.search_type {
    padding: 10px;
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

.search_type li {
    _height: 30px;
}

.search_type li label {
    padding-right: 8px;
    display: inline-block;
    line-height: 24px;
}

.search_type li select {
    vertical-align: top;
}

.search_type .ul_wrap {
    width: 100%;
    min-height: 1px;
    zoom: 1;
}

.search_type .ul_wrap:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.search_type li {
    float: left;
    margin-right: 20px;
    min-height: 30px;
    padding-bottom: 5px;
}

.search_type li.two {
    width: 700px;
}

.search_type .btn_side {
    text-align: center;
    padding-top: 10px;
    padding-right: 140px;
}

.search_type .btn {
}

/*
===================
数据表格样式
===================
*/
.table_list{
    border:1px solid #cbcbcb;
    width:100%;
    clear:both;
}
.table_list th{
    background:url(../images/th.gif) repeat-x;
    height:34px; line-height:34px;
    border-bottom:solid 1px #b6cad2;
    text-indent:11px;
    text-align:center;
}
.table_list td{
    line-height:35px;
    text-indent:11px;
    border-right: dotted 1px #c7c7c7;
    text-align: center;
}
.table_list{
    /*color:#056dae;*/
}
.table_list tbody tr.odd{
    background:#f5f8fa;
}
.table_list tbody tr:hover{
    background:#e5ebee;
}
.sort{
    padding-left:3px;
}

/*
===================
分页样式
===================
*/
.pages{
    position:relative;
    margin-top:10px;
    padding:0 12px;
}
.pageList{
    position:absolute;
    right:12px;
    top:0;
}
.pageItem{
    float:left;
}
.pageItem a{
    float:left;
    width:31px;
    height:28px;
    border:1px solid #DDD;
    text-align:center;
    line-height:30px;
    border-left:none;
    color:#3399d5;
}
.pageItem:first-child a{
    border-left:1px solid #DDD;
}
.pageItem:first-child a{
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}
.pageItem:last-child a{
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}
.pageItem:hover{
    background:#f5f5f5;
}
.pageItem.more:hover{
    background:#FFF;
}
.pageItem.more a{
    color:#737373;
}
.pagepre{
    display: block;
    background:url(../images/pre.png) no-repeat center center;
    width:31px;
    height:28px;
}
.pagenext{
    display: block;
    background:url(../images/next.gif) no-repeat center center;
    width:31px;
    height:28px;
}
.pageList li.current{
    background: rgb(59,149,200);
}
.pageList li.current a{
    color: #fff;
}

/*
===================
三列列表
===================
*/
.three_list {
}

.three_list li {
    float: left;
    width: 120px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}

.three_list li.all_check {
    width: 100%;
    padding-left: 2px;
}

/*
===================
双列列表
===================
*/
.double_list {
}

.double_list li {
    float: left;
    width: 49%;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
}

.double_list li.all_check {
    width: 100%;
}

.double_list li span {
    padding-left: 20px;
    color: #666;
}

.double_list li label span {
    padding: inherit;
    color: #666;
}

/*
===================
单选组列表
===================
*/
.single_list li {
    line-height: 25px;
    height: 25px;
}

/*
===================
开关选项
===================
*/
.switch_list {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}

.switch_list li {
    float: left;
    width: 120px;
}

/*
===================
全局选中高亮
===================
*/
input:checked + span {
    color: #008800 !important;
}

input:radio + span {
    color: #008800 !important;
}

/*
===================
功能表格列表
===================
*/
.table_full {
    margin-bottom: 10px;
    border: 1px #ccc solid;
    margin-top: -1px;
}

.table_full table {
    table-layout: fixed;
}

.table_full tr,
.table_purview tr,
.table_purview th,
.table_purview td,
.nav,
.prompt_text,
.search_photo_list,
.design_ct dl,
.pop_design_tablelist td,
.pop_design_tablelist th,
.table_full tr.tr_checkbox td,
.search_list dl {
    border-bottom: 1px solid #ccc;
}
.table_list th:last-child,
.table_full tr:last-child,
.table_full th:last-child{
    border-bottom: none;
}


.table_full th {
    padding: 7px 10px 9px;
    background-color: #f8f8f8;
    border-right: 1px solid #e5e3e3;
    font-weight: normal;
    line-height: 24px;
    vertical-align: top;
}

.table_full .th {
    width: 160px;
}

.table_full th .s1 {
    padding-left: 5px;
}

.table_full td {
    padding: 7px 10px 9px 15px;
    color: #666;
    vertical-align: top;
}

.table_full tr:hover th {
    background-color: #eef3f6;
}

.table_full tr:hover td {
    color: #000;
    background-color: #eef3f6;
}

.table_full tr .fun_tips {
    color: #999;
    line-height: 24px;
}

.table_full tr:hover .fun_tips {
    color: #000;
}

.table_full tr.tr_checkbox th,
.table_full tr.tr_checkbox td {
    background-color: #fffaeb;
}
