<layout name="Layout/base_layout"  replace="{__CONTENT__}" />

<body>

<div class="crumbs">
    <span>位置：</span>
    <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">数据表</a></li>
        <li><a href="#">基本内容</a></li>
    </ul>
</div>

<div class="wrap">

    <div class="nav">
        <ul class="cc">
            <li class="current"><a href="">菜单管理</a></li>
        </ul>
    </div>

    <div class="tools">
        <ul class="toolbar">
            <li><span><img src="__IMG__/t01.png" /></span><a href="{:U('menu/add')}" class="J_dialog" title="添加菜单">添加</a></li>
            <li><span><img src="__IMG__/t02.png" /></span>修改</li>
            <li><span><img src="__IMG__/t03.png" /></span>删除</li>
            <li><span><img src="__IMG__/t04.png" /></span>统计</li>
        </ul>
    </div>

    <div class="h_a">搜索</div>
    <div class="search_type cc mb10">
        <form action="" method="get">
            <ul>
                <li><label>联系人</label><input name="name" type="text" class="input length_2 mr10 J_date" value=""></li>
                <li><label>测试</label><input name="address" type="text" class="input length_2 mr10" value=""></li>
                <li><button type="submit" class="btn btn_submit mr20">搜索</button><button type="button" class="btn btn_reset ">重置</button></li>
            </ul>
        </form>
    </div>

    <div class="table_list">
        <table width="100%">
            <thead>
            <tr>
                <th><input name="" type="checkbox" value="" checked="checked"/></th>
                <th>ID<i class="sort"><img src="__IMG__/px.gif" /></i></th>
                <th>菜单名称</th>
                <th>菜单地址</th>
                <th>菜单等级</th>
                <th>菜单排序</th>
                <th>菜单状态</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            <foreach name="menuList" item="menu" >
                <tr>
                    <td><input name="" type="checkbox" value="" /></td>
                    <td>{$menu.id}</td>
                    <td>{$menu.title}</td>
                    <td>{$menu.url}</td>
                    <td>{$menu.grade}</td>
                    <td>{$menu.sort}</td>
                    <td>{$menu.status}</td>
                    <td><a href="#" class="tablelink">查看</a>     <a href="#" class="tablelink"> 删除</a></td>
                </tr>
            </foreach>
            </tbody>
        </table>
    </div>

    <div class="pages">
        <div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
        <ul class="pageList">
            <li class="pageItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
            <li class="pageItem"><a href="javascript:;">1</a></li>
            <li class="pageItem current"><a href="javascript:;">2</a></li>
            <li class="pageItem"><a href="javascript:;">3</a></li>
            <li class="pageItem"><a href="javascript:;">4</a></li>
            <li class="pageItem"><a href="javascript:;">5</a></li>
            <li class="pageItem more"><a href="javascript:;">...</a></li>
            <li class="pageItem"><a href="javascript:;">10</a></li>
            <li class="pageItem"><a href="javascript:;"><span class="pagenext"></span></a></li>
        </ul>
    </div>

</div>
<script type="text/javascript" src="__JS__/common.js"></script>

</body>
