<layout name="Layout/base_layout"  replace="{__CONTENT__}" />

<body>

<div class="crumbs">
    <span>位置：</span>
    <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">数据表</a></li>
        <li><a href="#">基本内容</a></li>
    </ul>
</div>

<div class="wrap">

    <div class="nav">
        <ul class="cc">
            <li class="current"><a href="">菜单管理</a></li>
        </ul>
    </div>

    <div class="tools">
        <ul class="toolbar">
            <li><span><img src="__IMG__/t01.png" /></span><a href="{:U('add')}" class="J_dialog" title="添加菜单">添加</a></li>
            <li><span><img src="__IMG__/t02.png" /></span>修改</li>
            <li><span><img src="__IMG__/t03.png" /></span>删除</li>
            <li><span><img src="__IMG__/t04.png" /></span>统计</li>
        </ul>
    </div>

    <div class="h_a">搜索</div>
    <div class="search_type cc mb10">
        <form action="{:U('index')}" method="get">
            <ul>
                <li><label>菜单名称</label><input name="title" type="text" class="input length_2 mr10" value="{$params.title}"></li>
                <li><button type="submit" class="btn btn_submit mr20">搜索</button><button type="button" class="btn btn_reset ">重置</button></li>
            </ul>
        </form>
    </div>

    <div class="table_list">
        <table width="100%">
            <thead>
            <tr>
                <th><input name="" type="checkbox" value="" checked="checked"/></th>
                <th>ID<i class="sort"><img src="__IMG__/px.gif" /></i></th>
                <th>菜单名称</th>
                <th>菜单地址</th>
                <th>菜单等级</th>
                <th>菜单排序</th>
                <th>菜单状态</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            <foreach name="list" item="menu" >
                <tr>
                    <td><input name="" type="checkbox" value="" /></td>
                    <td>{$menu.id}</td>
                    <td>{$menu.title}</td>
                    <td>{$menu.url}</td>
                    <td>{$menu.grade}</td>
                    <td>{$menu.sort}</td>
                    <td>{$menu.status}</td>
                    <td><a href="#" class="tablelink">查看</a>     <a href="#" class="tablelink"> 删除</a></td>
                </tr>
            </foreach>
            </tbody>
        </table>
    </div>

    <include file="Public:page" />

</div>
<script type="text/javascript" src="__JS__/common.js"></script>

</body>
